@font-face{
  font-family: "Shippori Antique";
  src: url("C:\Users\hp\Downloads\Fonts");
}
@font-face{
    font-family: "Prata";
    src: url("C:\Users\hp\Downloads\Fonts");
  }
  @font-face{
    font-family: "Press Start 2P";
    src: url("C:\Users\hp\Downloads\Fonts");
  }
